.pageStyles {
  display: flex;
  height: 100vh;
}

.pageTitle {
  font-size: 2em;
  color: black;
  align-items: left;
  margin: 4vh;
}

.pageSpacing {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
